* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    border: 1px solid black;
    margin: 10px;
}

.btn{
    float: right;
}

.content .product .img {
    border: 1px solid black;
}

.content .pr_link .pr_list {
    text-decoration: none;
}

.content .pr_banner {
    padding-bottom: 10px;
}

.content .desc {
    border-bottom: 1px dotted green;
    padding-bottom: 20px;
}

.footer .end{
    float: right;
}

